# Mac folder shit
*.DS_Store

# Singularity Stuff
*.sif
*.simg
tmp*
core*

# Simulation Results 
*.pvd
*.vtu
*.png
*.jpg
*.gif
*.hdf5
*.h5
*.xdmf
2019*

# Data files
*.csv
*.dat
*.xls*

# Python cache
__pycache__/
*.py[cod]
*$py.class
